$square-size: 80px;
$board-max-size: $square-size * 8;
$square-border-size: 1px;
$highlightColor: #BACA2B;

body {
    margin: 0px
}

.container {
    height: 100vh;
}

.board {
    width: 98vw;
    max-width: $board-max-size;
    max-height: $board-max-size;
    height: 98vw;
    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    grid-gap: 0px;
}

.side-inboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button.square {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    border-width: 0px;
    // border: $square-border-size solid black;

    &:focus {
        outline: none;
        background-color: $highlightColor;
    }

    >img {
        cursor: pointer;
        transition: all 0.4s ease-in-out;
        width: 100%;
        vertical-align: middle;
    }
}

button.white {
    background-color: #EEEED2;
}

button.black {
    background-color: #769656;
}

button.highlight {
    cursor: pointer;
    border: 4px solid #1A4B09;
}

button.canKilled {
    background-color: #F96714;
    border: 5px solid #1A4B09;
}

button.kingDangered {
    background-color: darkred;
}

.cell-board {
    border: 1px solid tan;
    width: 100px;
    height: 100px;

    >button {
        visibility: hidden;
    }

    &:hover {
        >button {
            visibility: visible;
        }
    }
}

.row-square {
    list-style: none;
    margin-bottom: -6px;
}